@use "generators" as *;

$sizes: generateSizesMap();

$section-padding: 7rem;
$hero-padding: 20rem;

$container-inline-padding: 1rem;
$container-max-width: 77.75rem;
$container-max-width-wide: 100rem;

$card-body-padding: 5rem;

$grid-gap: 1.5rem;
$flex-gap: 1rem;
