@use "../abstracts/" as *;

@each $font-size, $value in $font-sizes {
  .fs-#{$font-size} {
    font-size: $value;
  }
}

@each $font-weight, $value in $font-weights {
  .fw-#{$font-weight} {
    font-weight: $value;
  }
}

.ff-base {
  font-family: $ff-base;
}
.ff-accent {
  font-family: $ff-accent;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}